name: Deploy to Azure Container Registry

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
      
      - name: Create .env file from secret
        working-directory: ./src
        run: |
          echo "${{ secrets.ENV }}" > .env
      
      - name: Build Docker image
        working-directory: ./src
        run: |
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/techworkshop-app:${{ github.sha }} .
          docker tag ${{ secrets.ACR_LOGIN_SERVER }}/techworkshop-app:${{ github.sha }} ${{ secrets.ACR_LOGIN_SERVER }}/techworkshop-app:latest
      
      - name: Push Docker image to ACR
        run: |
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/techworkshop-app:${{ github.sha }}
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/techworkshop-app:latest
      
      - name: Clean up .env file
        if: always()
        working-directory: ./src
        run: |
          rm -f .env
